<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681435600654-uea3ve76glq14csvhnoeigqcb88qlgfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681435600654-uea3ve76glq14csvhnoeigqcb88qlgfi</string>
	<key>API_KEY</key>
	<string>AIzaSyDPxLR535hO38RcgrWdMH7JNgxqFAxO4Eo</string>
	<key>GCM_SENDER_ID</key>
	<string>681435600654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qussk.LineMessengerClone</string>
	<key>PROJECT_ID</key>
	<string>linemessengerclone</string>
	<key>STORAGE_BUCKET</key>
	<string>linemessengerclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681435600654:ios:c283bb6b4ca10ef4d5e95f</string>
</dict>
</plist>